@charset "utf-8";
.table{margin-bottom: 0px;}
.tablescroll td{padding:5px;}
.tablescroll_head{background-color:#eee; width: 100% !important;}
.tablescroll thead th{padding:5px; border-bottom:1px solid #ccc;}
.tablescroll_body{margin: -1px -1px -1px -1px;}
